{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<form method="post" action="/submit-contact-form/">
    {% csrf_token %}
    <p><label for="name">Name:</label><input type="text" name="name" id="name"></p>
    <p><label for="email">Email:</label><input type="email" name="email" id="email"></p>
    <p><label for="message">Message:</label><textarea name="message" id="message"></textarea></p>
    <button type="submit">Send Message</button>
</form>
{% endblock %}
